@model IEnumerable<DogTrainingWeb.Models.DogBarkViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOpsGuys Barker</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/skeleton.css")">
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <h3>Tweets are soooo passe. Send a bark dawg!</h3>

            @using (Html.BeginForm("Create", "DogBark", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="u-full-width">
                        <label for="bark">Your bark</label>
                        <textarea class="u-full-width" type="text" placeholder="Bark here" name="bark" id="bark" maxlength="80" ></textarea>
                    </div>
                    <div class="u-full-width">
                        <label for="secret">Secret</label>
                        <input class="u-full-width" type="password" placeholder="Password" name="secret" id="secret" />
                    </div>
                </div>
                <input class="button-primary" type="submit" value="Bark it">
            }

            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Latest barks &#128054;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dogBark in Model.Reverse())
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => dogBark.Bark)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <i>DevOpsGuys Incredible Barker ver. @ViewBag.DogTrainingWebVersion. @Html.ActionLink("Check out the API", "Index", "Help", new { area = "" }, null)</i>
            </div>
        </div>
    </div>
</body>
</html>
